@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-surface text-slate-100 antialiased;
    font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
  }
}

@layer utilities {
  .scroll-thin {
    scrollbar-width: thin;
    scrollbar-color: #2f3846 transparent;
  }
}
